# Core functionality - changes here should be rare!
/src/app.py                   @odrastd
/src/backend/database.py      @odrastd
/src/backend/routers/auth.py  @odrastd

# The frontend will need refactored soon to be more object oriented.
/src/static/   @odrastd
